<h6 class="text-danger">
  {{topMessage}}
</h6>
<!-- <p *ngFor="let message of uiMessages">
  {{message}}
  {{errorMessage}}
</p> -->
<div class="container">
  <div class="row" style="font-size:small">
    <div class="col-md-1">Search By:</div>
    <div class="col-md-2">
      <div class="form-check">
        <label class="form-check-label">
          <input
            type="radio"
            class="form-check-input"
            name="optradio"
            checked (change)="changeSearchBy()"
          />PIN Code
        </label>
      </div>
    </div>
    <div class="col-md-1">
      <div class="form-check">
        <label class="form-check-label">
          <input
            type="radio"
            class="form-check-input"
            name="optradio" (change)="changeSearchBy()"
          />District
        </label>
      </div>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-2" *ngIf="isSearchByPin">
      <div class="form-group">
        <label for="usr">PIN Code:</label>
        <input
          type="text"
          class="form-control form-control-sm"
          id="usr"
          placeholder="Enter Pin code"
          [(ngModel)]='pinCode'
          required
        />
      </div>
    </div>
    <div class="col-md-3" *ngIf="!isSearchByPin">
      <div class="form-group">
        <label for="sel1">Select State:</label>
        <select class="form-control form-control-sm" id="sel1" [(ngModel)]='selectedState' (change)="populateDistricts()">
          <option *ngFor="let state of states.states" value="{{state.state_id}}">{{state.state_name}}</option>
        </select>
      </div>
    </div>
    <div class="col-md-3" *ngIf="!isSearchByPin">
      <div class="form-group">
        <label for="sel1">Select District:</label>
        <select class="form-control form-control-sm" id="sel1" [(ngModel)]='selectedDistrict'>
          <option *ngFor="let district of districts.districts" value="{{district.district_id}}">{{district.district_name}}</option>
        </select>
      </div>
    </div>
    <div class="col-md-2">
      <label for="sel1" > </label>
      <button type="button" style="margin-top:32px" class="btn btn-sm btn-primary" (click)="fetchAllAvailSlots()">Search</button>
    </div>
  </div>
</div>

<div class="container" *ngIf="displaySlots">
  <div class="row" style="font-size:smaller">
    <div class="col-md-4" *ngFor="let slot of vaccineSlots.centers">
      <div class="card">
        <div class="card-body">
          <p class="card-title" style="text:small">{{slot.name}} | {{slot.address}} | 
            <span
                    class="badge badge-pill "
                    [ngClass]="{'badge-danger':slot.fee_type==='Paid', 'badge-success':slot.fee_type==='Free'}"
                    >{{slot.fee_type}}</span>
          </p>
          <small style="font-size: 13px">
            <table class="table">
              <!-- <thead> -->
              <th>Date</th>
              <th>Age</th>
              <th>Avail</th>
              <th>Vaccine</th>
              <!-- </thead> -->
              <!-- <tdata> -->
              <tr *ngFor="let session of slot.sessions">
                <td>{{session.date}}</td>
                <td>{{session.min_age_limit}}</td>
                <td>
                  <span
                    class="badge badge-pill "
                    [ngClass]="{'badge-danger':session.available_capacity===0, 'badge-success':session.available_capacity>0}"
                    >{{session.available_capacity}}</span
                  >
                </td>
                <td>{{ session.vaccine}}</td>
              </tr>
              <!--</tdata> -->
            </table>

            <!-- <p *ngFor="let session of slot.sessions"> {{session.date}} </p> -->
          </small>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </div>
  </div>
</div>
